/* estilos cards */

.card-item {
   
    width: calc(25% - 20px);
    height: 850px;
    margin-top: 20px;
    box-shadow: 1px 1px 5px slategray;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    float: left;
    margin-left: 15px;
    overflow: hidden;
  }

  .imagencatalogo {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    transition: all 300ms;
    position: relative;
  }

  .imagencatalogo:hover {
    transform: scale(1.1);
  }